# Performance and Thermal Optimizations
# Tailored for Tanzanite (MT6789)
# Native implementation by aerichandesu

on boot
    # [LOG] Silence log output and fix spam
    write /proc/sys/kernel/printk "0 0 0 0"
    write /proc/sys/kernel/printk_ratelimit 0
    write /sys/module/printk/parameters/console_suspend 0

    # [VM] Virtual Memory Balance
    write /proc/sys/vm/dirty_expire_centisecs 2000
    write /proc/sys/vm/dirty_writeback_centisecs 1000
    write /proc/sys/vm/dirty_ratio 15
    write /proc/sys/vm/dirty_background_ratio 5
    write /proc/sys/vm/vfs_cache_pressure 100
    write /proc/sys/vm/swappiness 100
    write /proc/sys/vm/page-cluster 0
    write /proc/sys/vm/watermark_scale_factor 150

    # [NET] Network
    write /proc/sys/net/ipv4/tcp_low_latency 1
    write /proc/sys/net/ipv4/tcp_slow_start_after_idle 1
    write /proc/sys/net/ipv4/tcp_tw_reuse 1
    write /proc/sys/net/ipv4/tcp_timestamps 0

    # [SCHED] Kernel Scheduler Balance
    write /proc/sys/kernel/sched_latency_ns 2000000
    write /proc/sys/kernel/sched_min_granularity_ns 400000
    write /proc/sys/kernel/sched_wakeup_granularity_ns 500000
    write /proc/sys/kernel/sched_migration_cost_ns 500000
    write /proc/sys/kernel/sched_util_clamp_min_rt_default 1
    write /proc/sys/kernel/sched_autogroup_enabled 0

on property:sys.boot_completed=1
    # [SCHED] Adaptive Energy Scaling
    write /dev/cpuctl/top-app/cpu.uclamp.min 5
    write /dev/cpuctl/top-app/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/foreground/cpu.uclamp.min 0
    write /dev/cpuctl/foreground/cpu.uclamp.max 100

    # [GED] Adaptive MediaTek Graphics
    write /sys/module/ged/parameters/gpu_dvfs_enable 1
    write /sys/module/ged/parameters/ged_smart_boost 1
    write /sys/module/ged/parameters/ged_boost_enable 0
    write /sys/module/ged/parameters/gx_fb_dvfs_margin 10
    write /sys/module/ged/parameters/ged_log_trace_enable 0
    write /sys/module/ged/parameters/ged_log_perf_trace_enable 0

    # [IO] Storage Efficiency (UFS 2.2)
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/sda/queue/read_ahead_kb 256
    write /sys/block/sda/queue/add_random 0
    write /sys/block/sda/queue/nomerges 1
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/scheduler mq-deadline

    write /sys/block/sdb/queue/nr_requests 256
    write /sys/block/sdb/queue/read_ahead_kb 256
    write /sys/block/sdb/queue/add_random 0
    write /sys/block/sdb/queue/nomerges 1
    write /sys/block/sdb/queue/iostats 0
    write /sys/block/sdb/queue/scheduler mq-deadline

    write /sys/block/sdc/queue/nr_requests 256
    write /sys/block/sdc/queue/read_ahead_kb 256
    write /sys/block/sdc/queue/add_random 0
    write /sys/block/sdc/queue/nomerges 1
    write /sys/block/sdc/queue/iostats 0
    write /sys/block/sdc/queue/scheduler mq-deadline
